<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Echec critique</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <style>
        #opponent, #localPlayer, #color, #gameID {
            /*display: none;*/
        }
        body {
            background-color: #eee7bc;
            margin: 0;
            padding: 0;
        }

        canvas {
            margin: auto;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="localPlayer"><%= localPlayer %></div>
<div id="opponent"><%= opponent %></div>
<div id="color"><%= color %></div>
<div id="gameID"><%= gameID %></div>
<input type="button" value="Retour au menu" id="back">
<script type="text/javascript" src="../js/phaser.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/game.js"></script>
</body>
</html>