<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Echec</title>
    <script type="text/javascript" src="../js/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../js/game.js"></script>
    <style>

        body {
            background-color: #eee7bc;
            margin: 0;
            padding: 0;
        }

        canvas {
            margin: 40px auto auto;
            overflow: hidden;
        }
    </style>
</head>
<body>

</body>
</html>