<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
</head>
<body>
<div id="localPlayer"><%= localPlayer %></div>
<div id="divUser">
    <h2 id="pseudoGraphics">Votre pseudo : </h2>
    <input type="button" value="déconnexion" id="deconnection">

    <table id="playerList">
        <thead >
        <tr>
            <th colspan="3" id="otherUser">Autres utilisateurs :</th>
        </tr>
        </thead>
        <tbody id="tablePlayer">
        </tbody>
    </table>
</div>
<div id="mainChatBox">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>
<script src="../js/menu.js"></script>
</body>
</html>
