<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<form method="post" action="" id="formRegistration">
    <label for="userName">Pseudo</label>
    <input id="userName" type="text" name="userName" size="42" maxlength="255" placeholder="ptdr t ki ?" required>
    <br>
    <br>

    <label for="password">Mot de passe</label>
    <input id="password" type="password" name="password" size="42" maxlength="255" placeholder="Promis c'est sécur" required>
    <br>
    <br>

    <label for="confirmPassword">Retapez votre mot de passe</label>
    <input id="confirmPassword" type="password" name="confirmPassword" size="42" maxlength="255" placeholder="Promis c'est sécur" required>
    <br>
    <br>

    <label for="email">Adresse email</label>
    <input id="email" type="text" name="email" size="42" maxlength="255" placeholder="Tkt y a pas de spam" required>
    <br>
    <br>

    <input type="submit" name="submitRegistration" value="Inscription">
    <input type="reset" name="resetRegistration" value="Annuler">
</form>

<script src="../js/registration.js"></script>
</body>
</html>