#pseudo, #userID, #existingConnection {
    display: none;
}

#progressBar {
    width: 50%;
    margin-left: 25%;
}

#loading {
    margin-top: 450px;
    margin-bottom: 10px;
    text-align: center;
}
