body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pseudo, #userID, #existingConnection {
    display: none;
}

#progressBar {
    width: 50vw;
    height: 50px;
    font-size: 20px;
}

#loadingTxt {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
