#pseudo, #userID, #existingConnection {
    display: none;
}

#loading {
    margin-top: 45vh;
    height: 10vh;
}

#progressBar {
    width: 50%;
    margin-left: 25%;
    height: 50px;
    font-size: 20px;
}

#loadingTxt {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
