body {
    display: flex;
    justify-content: space-between;
    background-color: #dddddd;

}

#localPlayer {
    display: none;
}

#divUser, #mainChatBox{
    margin-bottom: 50px;
}

#divUser {
    width: 600px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;

}

#pseudoGraphics{
    text-align: center;
}

#deconnection {
    background-color: #4CAF50;
    color: white;
    width: auto;
    padding: 8px;
    border: none;
    border-radius: 4px;
    display: flex;
    margin: auto;
}

#playerList {
    width: 100%;
}

#otherUser {
    height: 50px;
    text-align: center;
}

#userCell {
    width: 255px;
    text-align: right;
}

.userButton{
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 4px;
    display: flex;
    margin: auto auto 5px;
}

.waitingMsg {
    width: 225px;
    color: red;
    text-align: left;
}

#mainChatBox {
    flex: 1;
    margin-left: 20px;
}

.chatBox {
    display: flex;
    flex-direction: column;
}

.pseudoBox, .messageBox {
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.messageBox {
    flex-shrink: 1;
    overflow: auto;
    height: 150px;
}

.message {
    padding: 5px 0;
}

.message .author {
    display: inline-block;
}

.author {
    padding-right: 10px;
    position: relative;
}

.chatForm {
    display: flex;
    flex-shrink: 0;
}

.newMessage {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

.submitMessage {
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    width: auto;
    padding: 6px;
    border: none;
    border-radius: 4px;
    display: flex;
}
